<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <section>
      <mat-checkbox #comfortFeature *ngFor="let item of brands$ | async" [value]="item.id"
                    (change)="onBrandCheckboxChanged(item.id, !comfortFeature.checked)">{{item.name}}</mat-checkbox>
    </section>
    <section>
      <mat-checkbox #brand *ngFor="let item of comfortFeatures$ | async" [value]="item.id"
                    (change)="onComfortFeatureCheckboxChanged(item.id, !brand.checked)">{{item.name}}</mat-checkbox>
    </section>

  </mat-card-content>
</mat-card>

<ng-container *ngIf="cars$ | async as list">
  <table mat-table [dataSource]="list" class="mat-elevation-z8">         <!-- Column 1 -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model</th>
      <td mat-cell *matCellDef="let element"> {{ element.model }} </td>
    </ng-container>
    <!-- Column 2 -->
    <ng-container matColumnDef="brandId">
      <th mat-header-cell *matHeaderCellDef> Brand</th>
      <td mat-cell *matCellDef="let element"> {{element.brandId}} </td>
    </ng-container>
    <ng-container matColumnDef="ComfortFeatures">
      <th mat-header-cell *matHeaderCellDef> Comfort features</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let id of element.comfortFeatureIds; let i = index">
          {{id}}
          <ng-container *ngIf="!(element.comfortFeatureIds.length === i)">,</ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['model', 'brandId', 'ComfortFeatures']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['model', 'brandId', 'ComfortFeatures'];"></tr>
  </table>
</ng-container>
